%h3 Edit Resturant

= form_for @resturant do |f|
  %p
    = f.label :name
    = f.text_field :name


  %p
    = f.label :email
    = f.email_field :email, autofocus: true


  - if current_admin.has_role? :resturant_owner
    %p
      = f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |b|
        = b.check_box
        = b.label
  %p
    = f.submit "Update Resturant"

%h5
  = link_to "Go Back", resturant_path
