%h3 Add new Resturant

= form_for @resturant do |f|
  %p
    = f.label :name
    = f.text_field :name

  %p
    = f.label :email
    = f.email_field :email, autofocus: true

  /
    %p

      = f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |b|
        = b.check_box
        = b.label
  %p
    = f.submit "Add Resturant"

%h4
  = link_to "Go Back", resturants_path
