%h3
  = @resturant.name

%h4 This resturant has the following Ingredients :

- if @resturant.ingredient_ids.present?
  - @resturant.ingredient_ids.each do |ingredient_id|
    %ul
      %h4
        %li
          =link_to @ingredients.find(ingredient_id).name, @ingredients.find(ingredient_id)

- else
  %p Sorry! There are no ingredients available for this resturant right now.


%h4
  - if admin_signed_in?
    = link_to "Return to all Resturants.", resturants_path
    - if @resturant.email == current_admin.email

      &nbsp;
      |
      &nbsp;
      = link_to "Edit this Resturant", edit_resturant_path
    - if current_admin.has_role? :super_admin
      &nbsp;
      |
      &nbsp;
      = link_to "Edit this Resturant", edit_resturant_path
      &nbsp;
      |
      &nbsp;
      = link_to 'Delete this Resturant', @resturant, :method => :delete, data: { confirm: 'Are you sure?' }
  - else
    = link_to "Return to all Resturants.", resturants_path
