%h3
  = @ingredients.name
%h4
  /These are the dishes made with
  &nbsp;
  &nbsp;
  Description of the Ingredient.

%h4
  - if admin_signed_in?
    = link_to "Return to all Ingredients.", ingredients_path
    - if current_admin.has_role? :super_admin
      &nbsp;
      |
      &nbsp;
      = link_to "Edit this Ingredient", edit_ingredient_path
      &nbsp;
      |
      &nbsp;
      = link_to 'Delete this Ingredient', @ingredient, :method => :delete, data: { confirm: 'Are you sure?' }

  - else
    = link_to "Return to all Ingredients.", ingredients_path
