%h3 Add new Dish

= form_for @dish do |f|
  %p
    = f.label :title
    = f.text_field :title

  %p
    = f.label :body
    = f.text_area :body

  %p
    = f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |b|
      = b.check_box
      = b.label
  %p
    = f.submit "Add Dish"

%h5
  = link_to "Go Back", dishes_path
