%h1
  = @dishes.title

%small
  = @dishes.created_at.strftime("%b %d, %Y")


%p
  = @dishes.body

%h4 Ingredients :

- @dishes.ingredient_ids.each do |ingredient_id|
  %ul
    %h4
      %li
        =link_to @ingredients.find(ingredient_id).name, @ingredients.find(ingredient_id)

/
  %h4 This dish is served in these resturants :

  - @dishes.resturant_ids.each do |resturant_id|

    %ul
      %h4
        %li
          = link_to @resturants.find(resturant_id).name, @resturants.find(resturant_id)


%h5
  %t
    = link_to "Return to all dishes.", dishes_path
  %t
    = link_to "Edit Dish", edit_dish_path
