%h1
  = @dish.title

%small
  = @dish.created_at.strftime("%b %d, %Y")


%p
  = @dish.body

%h4 Ingredients :

- @dish.ingredient_ids.each do |ingredient_id|
  %ul
    %h4
      %li
        =link_to @ingredients.find(ingredient_id).name, @ingredients.find(ingredient_id)

/
  %h4 This dish is served in these resturants :

  - @dish.resturant_ids.each do |resturant_id|

    %ul
      %h4
        %li
          = link_to @resturants.find(resturant_id).name, @resturants.find(resturant_id)

%h5
  = link_to "Return to all Dishes.", dishes_path
  &nbsp;
  |
  &nbsp;
  = link_to "Edit this Dish", edit_dish_path
  &nbsp;
  |
  &nbsp;
  /= link_to "Delete this Dish", @dish, :confirm => "This dish will be deleted!", :method => :delete
  = link_to 'Delete this Ingredient', @dish, :method => :delete, data: { confirm: 'Are you sure?' }
